.lm-body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: Honeydew;
}

img{
  width: 100%;
}

.lm-logo{
  width:15%;
  margin:25;
}

.lm-longmao-container .lm-longmao--bw {
  opacity: 1;
}

.lm-longmao-container .lm-longmao--colour {
  opacity: 0;
}

.lm-longmao-container:hover .lm-longmao--bw {
  opacity: 0;
}

.lm-longmao-container:hover .lm-longmao--colour {
  opacity: 1;
}

.lm-jiejie-container .lm-jiejie--bw {
  opacity: 1;
}

.lm-jiejie-container .lm-jiejie--colour {
  opacity: 0;
}

.lm-jiejie-container:hover .lm-jiejie--bw {
  opacity: 0;
}

.lm-jiejie-container:hover .lm-jiejie--colour {
  opacity: 1;
}

.lm-maoche-container .lm-maoche--bw {
  opacity: 1;
}

.lm-maoche-container .lm-maoche--colour {
  opacity: 0;
}

.lm-maoche-container:hover .lm-maoche--bw {
  opacity: 0;
}

.lm-maoche-container:hover .lm-maoche--colour {
  opacity: 1;
}

.lm-meimei-container .lm-meimei--bw {
  opacity: 1;
}

.lm-meimei-container .lm-meimei--colour {
  opacity: 0;
}

.lm-meimei-container:hover .lm-meimei--bw {
  opacity: 0;
}

.lm-meimei-container:hover .lm-meimei--colour {
  opacity: 1;
}

.lm-xiaomao-container .lm-xiaomao--bw {
  opacity: 1;
}

.lm-xiaomao-container .lm-xiaomao--colour {
  opacity: 0;
}

.lm-xiaomao-container:hover .lm-xiaomao--bw {
  opacity: 0;
}

.lm-xiaomao-container:hover .lm-xiaomao--colour {
  opacity: 1;
}

.lm-longmao{
  width: 25%;
  position: fixed;
  bottom: 110px;
  left:30px;
}

.lm-xiaomao{
  width: 10%;
  position: fixed;
  bottom: 120px;
  left:315px;
}

.lm-jiejie{
  width: 16%;
  position: fixed;
  bottom: 110px;
  left:380px;
}

.lm-meimei{
  width: 9%;
  position: fixed;
  bottom: 110px;
  left:590px;
}

.lm-maoche{
  width: 60%;
  position: fixed;
  bottom: 100px;
  left: 710px;
}

.lm-meimei-popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.lm-meimei-popup--open {
  display: flex;
}

.lm-meimei-popup-image {
  width: 50%;
}

.lm-maoche-popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.lm-maoche-popup--open {
  display: flex;
}

.lm-maoche-popup-image {
  width: 50%;
}

.lm-jiejie-popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.lm-jiejie-popup--open {
  display: flex;
}

.lm-jiejie-popup-image {
  width: 50%;
}

.lm-xiaomao-popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.lm-xiaomao-popup--open {
  display: flex;
}

.lm-xiaomao-popup-image {
  width: 50%;
}

.lm-longmao-popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.lm-longmao-popup--open {
  display: flex;
}

.lm-longmao-popup-image {
  width: 50%;
}
